@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before, 
.slick-next:before {
  color: #333333; /* Dark gray for light mode */
  font-size: 20px;
  opacity: 1;
}

/* Color for dark mode */
.dark .slick-prev:before, 
.dark .slick-next:before {
  color: #E5E7EB; /* Light gray for dark mode */
}